{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div style="width: 100%; height: 400px;" data-gpx-location="{{ asset('uploads/gpx/' ~ record.gpxFileName) }}"></div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{ record.node.title }}</h4>
                    <p class="card-text">{{ record.description | raw }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Type: {{ record.type.node.title|default('') }}</li>
                    <li class="list-group-item">Distance: {{ record.distance }}k</li>
                    {% if record.color or record.shape %}
                        <li class="list-group-item">Signalisation: {{ "#{record.color} #{record.shape}" }}</li>
                    {% endif %}
                </ul>
                <div class="card-block">
                    <address>
                        <strong>Starting Point</strong><br>
                        {{ "#{record.location.street} #{record.location.nbr}" }}<br>
                        {{ "#{record.location.postal} #{record.location.city}, #{record.location.country}" }}
                    </address>
                </div>
                <div class="card-block">
                    <a href="#" class="card-link">Download gpx</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('vendor/gpxviewer/loadgpx.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/loadgpx.js') }}"></script>
{% endblock %}