{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div style="width: 100%; height: 400px;" data-gpx-location="/bundles/app/gpx/voeren-bronnenwandeling-9k.gpx"></div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{ route.node.title }}</h4>
                    <p class="card-text">{{ route.description | raw }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Type: {{ route.type.node.title }}</li>
                    <li class="list-group-item">Distance: {{ route.distance }}k</li>
                    {% if route.color or route.shape %}
                        <li class="list-group-item">Signalisation: {{ "#{route.color} #{route.shape}" }}</li>
                    {% endif %}
                </ul>
                <div class="card-block">
                    <address>
                        <strong>Starting Point</strong><br>
                        {{ "#{route.location.street} #{route.location.nbr}" }}<br>
                        {{ "#{route.location.postal} #{route.location.city}, #{route.location.country}" }}
                    </address>
                </div>
                <div class="card-block">
                    <a href="#" class="card-link">Download gpx</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('vendor/gpxviewer/loadgpx.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/loadgpx.js') }}"></script>
{% endblock %}